body {
  background-color: #e6e1e1;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  padding: 20px;
}



main {
  max-width: 960px;
  margin: 0 auto;

}


header {
  font-size: 80px;
  background-color: #151414;
  border: 3px solid black;
  height: 20%;
  text-align: center;
  font-weight: bold;
}

h1 {
  background: linear-gradient(to right, #dc6765, #eb7199, #8a52eb, #4390d5, #60b0ba, #35983a, #e0ec60, #eab156, #d97353);
 
}

p {
  font-size: 20px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: lighter;
}

nav {
  font-size: 20px;
  
  background-color: #e6e1e1;
  border: 1px solid black;
  align-items: stretch;
  margin: 10px;
  padding: 10px;
}

nav>img {
  max-width: 20%;
  vertical-align: middle;
  margin-right: 50px;
  margin-left: 50px;
  
}




h2 {
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 25px;
  text-align: center;
}

section {
  width: 960px;
  /* border: 1px solid black; */
  margin: 20px;
  padding: 20px;
}

section article {
  /* display: inline-block;
  text-align: justify; */
  display: inline-block;
  text-align:justify;
  border: 1px dashed black;
  vertical-align: middle;


}


#intro {
  background-color: #39949a;
  display: inline-block;
  margin-left: 80 px;
  text-align: center;
}

#intro h2 {
  padding: 10px;
}

#intro p {
  padding-bottom: 10px;
}

#intro article {
  max-width: 420px;
  margin-left: 40px;
  border: none;
}

#intro img {
  width: 600px;
  height: 400px;
}

#location {
  background-color: #e27587;
  text-align: center;
  display: inline-block;
  margin-left: 80 px;
  text-align: center;
  /* border: 5px solid black; */
  border: 1px dashed black;

}

#location h2 {
  text-decoration: underline;
  padding: 15px;
  margin: 10px;

}


#location p {
  padding: 5px;
  margin: 10px;
}

#location img {
  max-width: 150px;
  align-items: center;
}



#three-images {
  display: flex;
  padding-top: 5%; 
  justify-content: space-around;
}

#three-images img{
  display: inline;
  align-content: center;
  width: 100px;
  height: 100px;
} 

.hours {
  /* font-weight: bold; */
  font-size: 25px;
}

footer {
  height: 80px;
  background-color: #39949a;
  position: bottom;
  text-align: center;
  font-size: 25px;
  /* font-weight: bold; */

}


table {
  border-spacing: 40px;
  border: medium solid black;
  margin: auto;
  background-color: #39949a;


}

table {
  max-width: 100%
}


tr {
  border: solid 2px black;
  padding: 10px;

}

td {
  border: solid 2px black;
  padding: 5px;
  margin: 5px;
  font-weight:lighter;

}

form {
  border: solid 3px hsl(41, 27%, 16%);
  background-color: #e27587;
  width: 40%;
  margin: 0 auto;
  padding: 1px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}



form {
  width: 40%;
}

legend {
  font-weight: bolder;
  text-align: center;
  margin: 10px;
}

label {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}

input {
  display: block;
  padding: 5px;
  max-width: 300px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

button {
  display: block;
  margin: auto;
 
}

tfoot {
  background-color: whitesmoke;
}